:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  color: var(--main-text-color);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 90vh;
}

button {
  text-transform: lowercase;
  font-family: Georgia, serif;
  background-color: transparent;
  border: none;
  color: #f9faffde;
  text-align: center;
  text-shadow: #858ebc -2px 2px 8px;
  font-size: 28px;
  position: absolute;
  cursor: pointer;
}

button:hover, button:active {
  color: blueviolet;
}

#north {
  top: 40%;
  left: 0%;
  width: 100%;
}

#east {
  top: 50%;
  right: 10%;
}

#south {
  top: 60%;
  left: 0%;
  width: 100%;
}

#west {
  top: 50%;
  left: 10%;
}
